In [1]:
# Initial Imports 
import os
import pandas as pd 
from pathlib import Path
from dotenv import load_dotenv

# Alpaca Trade API  
import alpaca_trade_api as tradeapi
import alpaca_trade_api as api
from alpaca_trade_api.rest import REST, TimeFrame, TimeFrameUnit, URL

from alpaca.data.historical import CryptoHistoricalDataClient
from alpaca.data.requests import CryptoBarsRequest
from alpaca.data.timeframe import TimeFrame

In [2]:
load_dotenv()                                                               # Load .env enviroment variables
alpaca_api_key = os.getenv("ALPACA_API_KEY")                                # Set Alpaca API key from .env
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")                          # Set Alpaca API secret from .env
api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')    # Create Alpaca Trade API client

In [3]:
## Set timeframe to "1D"
timeframe = "1D"

# Format current date as ISO format 
start_date = pd.Timestamp("2017-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-09-28", tz="America/New_York").isoformat()

# Set the stock tickers 
tickers = ["TSLA"]

# Retrieve Tesla stock data via Alpaca
df_tesla = api.get_bars(
    tickers, 
    timeframe, 
    start = start_date,
    end = end_date,
).df

In [4]:
# Inspect dataframe
display(df_tesla.head())
display(df_tesla.tail())

,symbol,close,high,low,trade_count,open,volume,vwap
timestamp,,,,,,,,
2017-01-03 05:00:00+00:00,TSLA,216.99,220.33,210.96,50170,214.86,5923254,216.719313
2017-01-04 05:00:00+00:00,TSLA,226.99,228.00,214.31,88970,214.75,11241055,224.007831
2017-01-05 05:00:00+00:00,TSLA,226.75,227.48,221.95,47495,226.50,5911798,224.407260
2017-01-06 05:00:00+00:00,TSLA,229.01,230.31,225.45,44029,226.93,5562896,228.604505
2017-01-09 05:00:00+00:00,TSLA,231.28,231.92,228.00,31878,228.97,3979504,230.371740

,symbol,close,high,low,trade_count,open,volume,vwap
timestamp,,,,,,,,
2022-09-22 04:00:00+00:00,TSLA,288.59,301.29,285.82,1085905,300.00,70549440,291.596195
2022-09-23 04:00:00+00:00,TSLA,275.33,284.50,272.82,1057063,282.75,63794409,276.647598
2022-09-26 04:00:00+00:00,TSLA,276.01,284.09,270.31,909217,271.83,58306430,278.240890
2022-09-27 04:00:00+00:00,TSLA,282.94,288.67,277.51,857133,284.01,61925200,283.480810
2022-09-28 04:00:00+00:00,TSLA,287.81,289.00,277.57,739799,283.00,54686456,283.420537

In [5]:
# Save prices dataframe as csv file and store in 'data' directory
df_tesla.to_csv(Path("data/tesla_prices.csv"))